<!DOCTYPE html>
<html>
<head>
  <title>Base2 App</title>
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="/public/js/request.js"></script>
</head>
<body>

    <h1>Welcome to the base2 Nodejs App</h1>
    <h3>Server Hostname: <span id="hostname"><%=hostname%></span></h3>

</body>
</html>
